body {
    margin-left: 40px;
    margin-right: 40px;
}
.slider {
    width: 800px;
}
svg:hover {
    opacity: 0.5;
}
svg.highlight {
    border: red solid 1px;
}
.data-label, .data {
    font-size: 22pt;
    padding: 0 6px;
}