body {
    margin: 60px 150px;
    background-color: rgb(229, 242, 247);
    font-size: 20pt;
}
rect {
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}
p {
    margin: 0;
    padding: 0;
}
.data {
    font-family: monospace;
    width: 100px;
    font-size: 22pt;
    font-weight: normal;
}
.data-label {
    font-size: 22pt;
    font-weight: bold;
}

.back-button {
    position: absolute;
    right: 100px;
    bottom: 100px;
}
table.props td {
    padding-right: 30px;
}
table.props {
    margin-bottom: 20px;
}
.jumbotron {
    border: dotted grey 2px;
    border-radius: 20px !important;
    max-width: 1150px;
}