.DS_Store

*.pyc
node_modules/
.idea/

# virtualenv
venv/

# Script I use to deploy to GH-Pages.
deploy.sh

# Redis
dump.rdb

# local soft links for development convenience
static/js/third/dyson-bundle.js

# NPM I guess does this?
package-lock.json
