<div class="row">
    <div class="col-md-9">
        <div class="modal-header">
            <h3 class="modal-title">Spatial Pooling Parameters</h3>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" id="update-params" class="btn btn-primary btn-md">
            Update
        </button>
    </div>
    <div class="col-md-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<div class="row">
    <div class="scalar">
        <div class="row">
            {{#each sides}}
                <div class="col-md-6">
                    {{# each this}}
                        <div class="row">
                            <div class="col-md-6 data-label">{{name}}</div>
                            <div class="col-md-2 data" id="{{id}}-display"></div>
                            <div class="col-md-4 slider" id="{{id}}"></div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
    <div class="boolean">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 data-label">global inhibition</div>
                    <div class="col-md-6">
                        <input type="checkbox" id="globalInhibition">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 data-label">wrap around</div>
                    <div class="col-md-6">
                        <input type="checkbox" id="wrapAround">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
