<div class="row">
    <div class="col-md-3">
        <p/>heatmap <input type="checkbox" id="heatmap">
    </div>
    <div class="col-md-3">
        <p/>learn <input type="checkbox" id="learn">
    </div>
    <div class="col-md-3">
        <p/>overlap: <span id="overlap-display" class="data"></span>
    </div>
</div>

<svg id="visualization"></svg>
