<!-- Titles -->
<div class="row">
    <div class="col-md-6">Input Encoding</div>
    <div class="col-md-6">Active SP Columns</div>
</div>

<!-- Grids -->
<div style="float:right;">
    <!-- Options -->
    <p/>heatmap <input type="checkbox" id="heatmap">
    <p/>potential <input type="checkbox" id="potential">
    <p/>connected <input type="checkbox" id="connected">
    <p/>overlap: <span id="overlap-display" class="data"></span>
</div>
<svg id="visualization">
    <g id="input-encoding"></g>
    <g id="active-columns"></g>
    <g id="cumulative-overlaps"></g>
    <g id="overlap-distribution"></g>
</svg>
<div class="row">
    <div class="col-md-6">
        <svg id="histogram"></svg>
    </div>
    <div class="col-md-6">
        <svg id="overall-histogram"></svg>
    </div>
</div>
