<!-- Titles -->
<div class="row">
    <div class="col-md-6">Input Encoding</div>
    <div class="col-md-6">Active SP Columns</div>
</div>

<!-- Grids -->
<div class="row">
    <div class="col-md-12">
        <svg id="visualization" width="1200" height="690">
            <g id="input-encoding"></g>
            <g id="active-columns"></g>
        </svg>
    </div>
</div>

<!-- Options -->
<div class="row">
    <div class="col-md-4">
        heatmap <input type="checkbox" id="heatmap">
    </div>
    <div class="col-md-4">
        connected <input type="checkbox" id="connected">
    </div>
    <div class="col-md-4">
        overlap: <span id="overlap-display" class="data"></span>
    </div>
</div>