body {
    margin: 20px 40px;
}
svg {
    width: 500px;
    height: 500px;
}
#match {
    font-size: 20pt;
    text-align: center;
    padding: 20px;
    border: solid grey 1px;
    border-radius: 10px;
    width: 140px;
}
.slider {
    width: 600px;
    margin: 0 40px;
}
.props td {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.data-label, .data {
    font-size: 20pt;
}
#false-positive-display {
    font-size: 34pt;
}
#sdr-xprime rect.on {
    fill: orange;
}
#sdr-y rect.on {
    fill: green;
}
