body {
    margin: 20px 40px;
    line-height: inherit;
}
svg {
    width: 2150px;
    float: left;
}
.slider {
    width: 800px;
}
#sdr-stack svg:hover {
    opacity: 0.5;
}
#next-sdr.highlight svg rect.on {
    fill: #008000;
}
#sdr-stack div.highlight svg rect.on {
    fill: #ffa500;
}
#sdr-stack div {
    padding: 0;
    margin: 0;
}

button {
    margin: 20px 0 !important;
}

rect.match {
    fill: red !important;
}

.sdr.selected rect {
    stroke: #ffad7e;
}
.progress {
    height: 14px;
    font-size: 12pt;
    font-weight: normal;
}
.progress-bar {
    line-height: inherit;
}
.sdr.match .progress-bar {
    background-color: #008000;
}
.overlap {
    padding-left: 100px !important;
}
.sdr.selected {
    background-color: #ffad7e;
}
.match-instructions p {
    margin-bottom: 10px;
}
.next-match {
    font-size: 16pt;
    margin-top: -7px;
}
.big-warning p {
    padding: 10px;
    font-size: 14pt;
}
.go-big {
    margin: 0 !important;
}
#false-positive-display {
    padding-top: 10px;
}