body {
    margin: 20px 40px;
    line-height: inherit;
}
svg {
    width: 2150px;
    float: left;
}
.slider {
    width: 800px;
}
#sdr-stack svg:hover {
    opacity: 0.5;
}
#next-sdr.highlight svg rect.on {
    fill: #008000;
}
#sdr-stack div.highlight svg rect.on {
    fill: #ffa500;
}
#sdr-stack div {
    padding: 0;
    margin: 0;
    font-size: inherit;
}


button {
    margin: 20px 0 !important;
}

#match-compare-container {
    float:right;
}

#match-compare {
    margin-right: 400px;
}

#match-compare .props {
    float: right;
}

svg#match-compare-svg {
    width: 200px;
    height: 200px;
}

#match {
    width: 140px;
    float:right;
    margin-right: 400px;
    display: none;
}

.sdr.selected rect {
    stroke: #ffad7e;
}
.sdr .meta {
    float: right;
    font-size: 8pt !important;
    /*margin-left: -80px !important;*/
    width: 200px;
}
.progress {
    height: 14px;
}
.progress-bar {
    line-height: inherit;
}
.progress.match .progress-bar {
    background-color: orangered;
}
#sdr-stack .sdr.match .meta {
    background-color: lightpink;
}

rect.match {
    fill: red !important;
}
