.description {
    font-size: 14pt;
}
.sdr svg {
    width: 300px;
    height: 300px;
}
.big svg {
    width: 600px;
    height: 600px;
}
#value-display {
    font-size: 26pt;
    font-weight: bold;
}
.bumper {
    padding: 20px;
}